[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
flask-migrate = "*"
flask-script = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
cloudinary = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
